html {
  font-size: 10px;
}

* {
  /* border: 1px solid pink; */
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e6e6e6;
  font-size: clamp(1.4rem, 1.4vw, 2rem);
  min-height: 100vh;
  margin: 0 auto;
}

h1 {
  font-size: clamp(3rem, 7vw, 6rem);
}
h2 {
  font-size: clamp(1.75rem, 3.5vw, 3.5rem);
}
h3 {
  font-size: clamp(1.55rem, 2.5vw, 2.5rem);
}
h3 {
  font-size: clamp(1.35rem, 2.2vw, 2.2rem);
}

/***
*Main-page
***************************************/

body.main-page {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/backGround/mainScreen.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.4rem, 1.4vw, 2rem);
  min-height: 100vh;
  margin: 0 auto;
  animation: moveBackground 200s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: 25rem auto;
  max-width: 80%;
  align-content: center;
  justify-content: center;
}

.hero-content h1,
.hero-content p {
  justify-self: center;
  align-self: center;
}

.hero-content p {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.6rem, 2rem, 2rem);
  font-weight: 900;
  color: #fff;
  text-align: center;
  max-width: 80%;
}

button.start-button {
  display: inline-block;
  padding: 1.5rem;
  justify-self: center;
  align-self: center;
  background-color: #4d2ebd;
  color: #fff;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.4rem, 1.4vw, 2rem);
  font-weight: 700;
  transition: background-color 0.8s ease;
}

button.start-button:hover {
  background-color: #fff;
  color: #0b0b0b;
  cursor: pointer;
}

button.start-button a {
  text-decoration: none;
  color: #fff;
}

button.start-button:hover a {
  text-decoration: none;
  color: #0b0b0b;
}

/***
*Battle-page
***************************************/

body.battle-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.4rem, 1.4vw, 2rem);
  min-height: 100vh;
}

body.battle-page::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

h1 {
  -webkit-text-stroke: 1px black;
}

a.close-window {
  position: absolute;
  text-decoration: none;
  top: 5rem;
  right: 5rem;
  color: #fff;
  font-weight: 900;
  transition: transform 0.8s ease;
  display: inline-block;
}

a.close-window:hover {
  text-shadow: 0 0 5px rgba(230, 237, 243, 0.7);
  transform: rotate(15deg) scale(1.05);
  color: #ffffff;
}

.close-icon {
  width: 3rem;
  height: 3em;
  color: #fff;
  fill: currentColor;
}

.battle-page-layout {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  grid-template-rows: 0fr 2fr 1fr 2fr;
  gap: 2rem;
  padding: 2rem;
  margin: 1rem;
  min-height: 100vh;
}

.header-block {
  grid-column: 1 / span 3;
  grid-row: 1;
  text-align: center;
}

.score-block {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.team1-block {
  position: relative;
  transition: all 0.9s ease;
}

.team1-block {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.win-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffe81f;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.2rem, 5vw, 5rem);
  font-weight: 900;
  padding: 1rem 3rem;
  border: 5px solid #ffe81f;
  border-radius: 10px;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-shadow: 0 0 15px rgba(255, 232, 31, 0.7);
}

.team-block.winner .win-overlay {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.team-block.winner {
  box-shadow: 0 0 50px rgba(255, 232, 31, 0.5);
  transform: scale(1.02);
}

.team1-block h3,
.team2-block h3 {
  margin: 0;
  -webkit-text-stroke: 0.5px black;
  border-radius: 7px;
  padding: 0.5rem;
  align-self: flex-start;
}

.hero-block {
  display: flex;
  flex: 8;
  gap: 0.5rem;
}

button.choose-team {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  border-radius: 12px;
  transition:
    transform 0.9s ease,
    box-shadow 0.8s ease;
}

button.choose-team:hover {
  transform: rotate(15deg) scale(1.05);
  box-shadow:
    0 0 10px rgba(0, 200, 255, 0.6),
    0 0 20px rgba(0, 200, 255, 0.4),
    0 0 40px rgba(0, 200, 255, 0.2);
}

button.choose-team:focus-visible {
  transform: rotate(15deg) scale(1.05);
  box-shadow:
    0 0 10px rgba(0, 200, 255, 0.6),
    0 0 20px rgba(0, 200, 255, 0.4),
    0 0 40px rgba(0, 200, 255, 0.2);
}

.choose-team-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.choose-team-button-text {
  margin: 0;
  text-align: center;
  -webkit-text-stroke: 0.5px black;
  font-size: clamp(2rem, 2.4rem, 2.4rem);
}

button.choose-team svg {
  max-width: 5rem;
  max-height: 5rem;
  align-self: center;
  justify-self: center;
}

.team2-block {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

div.player-card {
  flex: 1;
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  overflow: hidden;
  border-radius: 7px;
  transition:
    box-shadow 0.8s ease,
    transform 1s ease;
}

div.player-card:hover {
  box-shadow:
    0 0 10px rgba(0, 200, 255, 0.6),
    0 0 20px rgba(0, 200, 255, 0.4),
    0 0 40px rgba(0, 200, 255, 0.2);
  transform: scale(1.4);
}

div.player-card:focus-visible {
  box-shadow:
    0 0 10px rgba(0, 200, 255, 0.6),
    0 0 20px rgba(0, 200, 255, 0.4),
    0 0 40px rgba(0, 200, 255, 0.2);
  transform: scale(1.4);
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: center;
}

.choose-planet {
  grid-row: 3;
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-planet h3 {
  margin: 0;
  border-radius: 7px;
  padding: 0.5rem;
  -webkit-text-stroke: 0.5px black;
}

.planet-card {
  flex: 1;
  width: 20rem;
  height: 20rem;
  border: 1px solid gray;
  overflow: hidden;
  justify-content: center;
  align-content: center;
  border-radius: 7px;
  transition:
    box-shadow 0.8s ease,
    transform 1s ease;
}

.planet-card:hover {
  box-shadow:
    0 0 10px rgba(0, 200, 255, 0.6),
    0 0 20px rgba(0, 200, 255, 0.4),
    0 0 40px rgba(0, 200, 255, 0.2);
  transform: scale(1.4);
}

.planet-card:focus-visible {
  box-shadow:
    0 0 10px rgba(0, 200, 255, 0.6),
    0 0 20px rgba(0, 200, 255, 0.4),
    0 0 40px rgba(0, 200, 255, 0.2);
  transform: scale(1.4);
}

.choose-starship-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.choose-starship-button-text {
  margin: 0;
  text-align: center;
  -webkit-text-stroke: 0.5px black;
  font-size: clamp(2rem, 2.4rem, 2.4rem);
}

.starshipOne-flex {
  grid-row: 4;
  grid-column: 1;
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  justify-self: center;
}

.starshipOne-flex h3,
.starshipTwo-flex h3 {
  margin: 0;
  -webkit-text-stroke: 0.5px black;
  border-radius: 7px;
  padding: 0.5rem;
  align-content: center;
}

div.starship-card {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  overflow: hidden;
  border-radius: 7px;
  transition:
    box-shadow 0.8s ease,
    transform 1s ease;
}

div.starship-card:hover {
  box-shadow:
    0 0 10px rgba(0, 200, 255, 0.6),
    0 0 20px rgba(0, 200, 255, 0.4),
    0 0 40px rgba(0, 200, 255, 0.2);
  transform: scale(1.4);
}

div.starship-card:focus-visible {
  box-shadow:
    0 0 10px rgba(0, 200, 255, 0.6),
    0 0 20px rgba(0, 200, 255, 0.4),
    0 0 40px rgba(0, 200, 255, 0.2);
  transform: scale(1.4);
}

.starshipTwo-flex {
  grid-row: 4;
  grid-column: 3;

  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  justify-self: center;
}

button.choose-starship {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  border-radius: 12px;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  transition:
    transform 0.9s ease,
    box-shadow 0.8s ease;
}

button.choose-starship:hover {
  transform: rotate(15deg) scale(1.05);
  box-shadow:
    0 0 10px rgba(0, 200, 255, 0.6),
    0 0 20px rgba(0, 200, 255, 0.4),
    0 0 40px rgba(0, 200, 255, 0.2);
}

button.choose-starship svg {
  max-width: 5rem;
  max-height: 5rem;
  align-self: center;
  justify-self: center;
}

.score-team-one {
  padding-left: 1rem;
  font-size: clamp(2rem, 3vw, 3.5rem);
  display: flex;
  justify-content: flex-start;
}

.score-team-two {
  padding-right: 1rem;
  font-size: clamp(2rem, 3vw, 3.5rem);
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 990px) {
  div.battle-page-layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    min-height: 100vh;
  }

  .win-overlay {
    top: 60%;
  }

  .header-block {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }

  .team1-block,
  .team2-block {
    grid-column: 1;
    grid-row: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  button.choose-team {
    grid-column: 1;
    grid-row: auto;
  }

  .choose-planet {
    grid-row: auto;
    grid-column: 1;
  }

  .starshipOne-flex,
  .starshipTwo-flex {
    grid-row: auto;
    grid-column: 1;
    width: 100%;
    height: auto;
  }

  div.starship-card {
    width: 50%;
    height: 100%;
  }
}
